{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BizUnited</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/favicon_io/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon_io/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon_io/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "images/favicon_io/site.webmanifest" %}">
    {% comment %} <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"> {% endcomment %}
    <script src="https://kit.fontawesome.com/52b9614d93.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}
    
    {% endblock %}
</body>
</html>