{% load static %}
<nav
    class="bg-[#f7f7f8] fixed bottom-0 top-0 left-0 min-w-[250px] py-6 px-4 font-[sans-serif] min-h-screen"
  >
  <div class="">
    <div class="relative top-5 left-5">
      <a href="javascript:void(0)"
        ><img
          src="{% static "images/logo-no-background.png" %}"
          alt="logo"
          class="w-[160px]"
        />
      </a>
    </div>

    <div class="overflow-auto py-6 h-full mt-8">
      <ul class="space-y-1">
        <li>
          <a
            href="{% url 'startup-dashboard' %}"
            class="text-black hover:text-purple-600 text-[15px] flex items-center gap-6 hover:bg-white rounded px-4 py-3 transition-all"
          >
          <div class="w-3">

          <i class="fa-solid fa-gauge text-xl fa-fw"></i>
          </div>
          <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a
            href="{% url "startup-pitches" %}"
            class="text-black hover:text-purple-600 text-[15px] flex items-center gap-6 hover:bg-white rounded px-4 py-3 transition-all"
          >
          <div class="w-3">
            <i class="fa-regular fa-address-card text-xl fa-fw"></i>
          </div>
            <span class="">Pitches</span>
          </a>
        </li>
        <li>
          <a
            href="{% url 'add-pitch' %}"
            class="text-black hover:text-purple-600 text-[15px] flex items-center gap-6 hover:bg-white rounded px-4 py-3 transition-all"
          >
          <div class="w-3">

          <i class="fa-solid fa-plus text-xl fa-fw"></i>
          </div>
            <span>Add Pitch</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            class="text-black hover:text-purple-600 text-[15px] flex items-center gap-6 hover:bg-white rounded px-4 py-3 transition-all"
          >
          <div class="w-3">

          <i class="fa-solid fa-inbox text-xl fa-fw"></i>
          </div>
            <span class="">Inbox</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            class="text-black hover:text-purple-600 text-[15px] flex items-center gap-6 hover:bg-white rounded px-4 py-3 transition-all"
          >
          <div class="w-3">

          <i class="fa-solid fa-handshake-angle text-xl fa-fw"></i>
          </div>
            <span class="">Consult</span>
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            class="text-black hover:text-purple-600 text-[15px] flex items-center gap-6 hover:bg-white rounded px-4 py-3 transition-all"
          >
          <div class="w-3">

          <i class="fa-solid fa-user text-xl fa-fw"></i>
          </div>
            <span>Profile</span>
          </a>
        </li>
        <li>
          <a
            href="{% url "logout" %}"
            class="text-black hover:text-purple-600 text-[15px] flex items-center gap-6 hover:bg-white rounded px-4 py-3 transition-all"
          >
          <div class="w-3">

          <i class="fa-solid fa-right-from-bracket text-xl fa-fw"></i>
          </div>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </nav>